@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login e Cadastro</title>
    <!-- Link do Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
        }

        .bg {
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .auth-container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .auth-form {
            background: rgba(255, 255, 255, 0.9);
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 100%;
            max-width: 500px;
        }
    </style>
</head>
<body>
    <div class="bg">
        <div class="container auth-container">
            <div class="auth-form" id="login-form">
                <h3 class="text-center">Login</h3>
                <form id="loginForm">
                    <div class="form-group">
                        <label for="login-email">Email</label>
                        <input type="email" class="form-control" id="login-email" placeholder="Digite seu email">
                    </div>
                    <div class="form-group">
                        <label for="login-password">Senha</label>
                        <input type="password" class="form-control" id="login-password" placeholder="Digite sua senha">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    <div class="text-center mt-2">
                        <a href="#" onclick="showRegisterForm()">Não tem uma conta? Cadastre-se</a>
                    </div>
                </form>
            </div>
            <div class="auth-form" id="register-form" style="display:none;">
                <h3 class="text-center">Cadastre-se</h3>
                <form id="cadastroForm">
                    <div class="form-group">
                        <label for="register-name">Nome</label>
                        <input type="text" class="form-control" id="register-name" placeholder="Digite seu nome">
                    </div>
                    <div class="form-group">
                        <label for="register-email">Email</label>
                        <input type="email" class="form-control" id="register-email" placeholder="Digite seu email">
                    </div>
                    <div class="form-group">
                        <label for="register-password">Senha</label>
                        <input type="password" class="form-control" id="register-password" placeholder="Digite sua senha">
                    </div>
                    <div class="form-group">
                        <label for="user-role">Função</label>
                        <select class="form-control" id="user-role">
                            <option value="" disabled selected>Selecione uma função</option>
                            <option value="2">Professor</option>
                            <option value="3">Aluno</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                    <div class="text-center mt-2">
                        <a href="#" onclick="showLoginForm()">Já tem uma conta? Faça login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Link do Bootstrap JS e dependências Popper.js e jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @*    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            checkAuthentication();

            $('#cadastroForm').on('submit', function (event) {
                event.preventDefault(); // Impede o envio tradicional do formulário

                // Coleta os dados do formulário
                var formData = {
                    name: $('#register-name').val(),
                    userName: $('#register-email').val(),
                    senha: $('#register-password').val(),
                    tipoUsuario: $('#user-role').val()
                };

                // Envia uma solicitação AJAX para a API
                $.ajax({
                    url: 'https://localhost:7086/Usuario/Cadastro-usuario', // URL do endpoint da API
                    type: 'POST', // Método HTTP
                    contentType: 'application/json', // Tipo de conteúdo
                    data: JSON.stringify(formData), // Dados a serem enviados
                    success: function (response) {
                        // Lógica de sucesso
                        alert('Usuário cadastrado com sucesso!');
                        console.log(response);
                    },
                    error: function (error) {
                        // Lógica de erro
                        alert('Erro ao cadastrar usuário.');
                        console.error(error);
                    }
                });
            });

            $('#loginForm').on('submit', function (event) {
                event.preventDefault(); // Impede o envio tradicional do formulário
                debugger;
                // Coleta os dados do formulário
                var formData = {
                    userName: $('#login-email').val(),
                    password: $('#login-password').val()
                };

                // Envia uma solicitação AJAX para a API
                $.ajax({
                    url: 'https://localhost:7086/auth', // URL do endpoint da API
                    type: 'POST', // Método HTTP
                    contentType: 'application/json', // Tipo de conteúdo
                    data: JSON.stringify(formData), // Dados a serem enviados
                    success: function (response) {
                        debugger;
                        localStorage.removeItem('authToken');
                        localStorage.removeItem('tipoUsuario');

                        localStorage.setItem('authToken', response.token);
                        localStorage.setItem('tipoUsuario', response.user.tipoUsuario);
                        checkAuthentication();
                        if (response.user.tipoUsuario == 1) {
                            window.location.href = '/ConsultaProfessores';
                        } else if (response.user.tipoUsuario == 2) {
                            window.location.href = '/ConsultarAlunos';
                        } else if (response.user.tipoUsuario == 3) {
                            window.location.href = '/ConsultarNotas';
                        }
                    },
                    error: function (error) {
                        // Lógica de erro
                        alert('Usuario nao encontrado.');
                        console.error(error);
                    }
                });
            });
        });

        function checkAuthentication() {
            const authToken = localStorage.getItem('authToken');
            const tipoUsuario = localStorage.getItem('tipoUsuario');
            debugger;
            if (authToken && tipoUsuario) {
                $('#divBar').show();
                if (tipoUsuario == 1) {
                    $('#abaConsultaProfessores').show();
                    $('#abaCadastroDeProfessores').show();
                    $('#abaConsultarAlunos').show();
                    $('#abaCadastroAlunos').hide();
                    $('#abaCadastroNotas').hide();
                    $('#abaConsultarNotas').hide();
                } else if (tipoUsuario == 2) {
                    $('#abaConsultarAlunos').show();
                    $('#abaCadastroAlunos').show();
                    $('#abaCadastroNotas').show();
                    $('#abaConsultaProfessores').hide();
                    $('#abaCadastroDeProfessores').hide();
                    $('#abaConsultarNotas').hide();
                } else if (tipoUsuario == 3) {
                    $('#abaConsultarNotas').show();
                    $('#abaConsultarAlunos').hide();
                    $('#abaCadastroAlunos').hide();
                    $('#abaCadastroNotas').hide();
                    $('#abaConsultarNotas').hide();
                    $('#abaConsultaProfessores').hide();
                    $('#abaCadastroDeProfessores').hide();
                }
            } else {
                $('#divBar').hide();
            }
        }

        function showRegisterForm() {
            document.getElementById('login-form').style.display = 'none';
            document.getElementById('register-form').style.display = 'block';
        }

        function showLoginForm() {
            document.getElementById('login-form').style.display = 'block';
            document.getElementById('register-form').style.display = 'none';
        }
    </script>
</body>
</html>
